.header{

    &-sticky{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
        width: 100%;
        background-color: #fff;
    }

    position: relative;
    padding: 35px 48px 15px 50px;
    height: 117px;

    @media (max-width: $bp_mobileMenuShift) {
        padding-left: 30px;
        padding-right: 30px;
    }

    a.subscription{
        position: absolute;
        right: 48px;
        top: 0;
        background-color: #46ABD3;
        color: #fff;
        font-size: 14px;
        height: 41px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        padding: 0 36.5px;
    }

    &__top{
        display: flex;
        align-items: baseline;
    }

    &__mobile{
        display: none;
        position: relative;
        z-index: 99;
    }

    &__user{
        display: flex;
        margin-left: auto;
        a{
            display: flex;
            align-items: center;
            font-size: 14px;
            letter-spacing: 0.24px;
            color: #221F20;
            text-decoration: none;
            position: relative;
            top: 16px;

            svg{
                width: 25px;
                margin-right: 10px;
                path{
                    fill: #46ABD3;
                }
            }
        }
    }

    &__mega-menu{
        background-color: #F2F2F2;
        padding: 63px 0;
        position: fixed;
        width: 100%;
        top: 117px;
        left: 0;
        z-index: 2;
        display: none;

        @media (max-width: $bp_desktopMedium) {
            padding: 30px 0;
        }

        &-container{
            padding: 0 50px;
        }

        &-row{
            display: flex;
            justify-content: space-between;
            max-width: 1300px;
            column-gap: 60px;
            
            @media (max-width: $bp_desktopMedium) {
                max-width: 540px;
            }
        }

        &-col{
            // &:nth-child(2){

            //     ul{
            //         column-count: 2;
            //         column-gap: 40px;
            //     }

            // }
        }

        &-inner{

            // h4{
            //     font-size: 15px;
            //     color: #093141;
            //     margin-bottom: 30px;

            //     position: relative;
                
            //     &::after{
            //         content: '';
            //         position: absolute;
            //         width: 100%;
            //         height: 1px;
            //         background-color: #707070;
            //         left: 0;
            //         bottom: -20px;
            //     }
            // }
            // ul{
            //     list-style: none;
            //     padding: 0; 
            //     margin: 0;

            //     li{
            //         line-height: 30px;
            //         a{
            //             text-decoration: none;
            //             font-size: 15px;
            //             color: #4275AE;
            //         }
            //     }
            // }

            h4 {
                    font-size: 22px;
                    font-weight: 600;
                    color: #093141;
                    margin-bottom: 30px;
                    position: relative;

                    @media (max-width: $bp_desktopMedium) {
                        font-size: 18px;
                        margin-bottom: 15px;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 1px;
                        background-color: #707070;
                        left: 0;
                        bottom: -20px;

                        @media (max-width: $bp_desktopMedium) {
                            bottom: -11px;
                        }
                    }
                }

                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    li {
                        line-height: 30px;

                        a {
                            font-size: 22px;
                            color: getColor(2);
                            line-height: 40px;
                            text-decoration: none;

                            @media (max-width: $bp_desktopLarge) {
                                font-size: 18px;
                                line-height: 30px;
                            }

                            @media (max-width: $bp_desktopMedium) {
                                font-size: 15px;
                                line-height: 20px;
                            }
                        }
                    }


                }
        }
    }
    
    &__cart{
        position: relative;
        cursor: pointer;

        &-wrapper{
            position: relative;
            display: block;
        }

        // svg{
        //     position: relative;
        //     top: 13px;
        //     width: 100%;
        // }

        .xoo-wsc-sc-subt{
            display: none;
        }

        .xoo-wsc-sc-count{
            background-color: transparent;
        }

        &-items{
            position: absolute;
            top: calc(50% + 1px);
            left: calc(50% + 3px);
            transform: translate(-50%,-50%);
    
        }

        .xoo-wsc-sc-bki{
            display: none;
        }

        // span{
        //     color: #fff;
        //     font-size: 14px;
        //     position: absolute;
        //     top: calc(50% + 16px);
        //     left: 50%;
        //     transform: translate(-50%,-50%);
        //     font-weight: 500;
        // }
        
    }

    &__menu{
        width: 77.51%;

        @media (max-width: $bp_desktopLarge) {
            padding-left: 40px;
        }

        @media (max-width: $bp_desktopSmall) {
            padding-left: 14px;    
        }

        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;

            li{
                margin-right: 35px;
                position: relative;

                @media (max-width: $bp_desktopLarge) {
                    margin-right: 22px;
                }

                @media (max-width: $bp_desktopMedium) {
                    margin-right: 12px;
                }

                @media (max-width: $bp_desktopSmall) {

                }

                &.current-menu-parent{
                    & > a{
                        color: rgb(66,117,174);
                    }
                }

                &:hover{
                    ul.sub-menu{
                        // display: flex;
                    }

                    & > a{
                        color: rgb(66,117,174);
                    }
                }

                &:last-child{
                    margin-right: 0;
                }

                a{
                    font-size: 24px;
                    letter-spacing: 0.10px;
                    text-decoration: none;
                    font-weight: 500;

                    @media (max-width: $bp_desktopLarge) {
                       font-size: 18px;
                    }

                    @media (max-width: $bp_desktopMedium) {
                        font-size: 15px;
                    }
                }

                ul.sub-menu{
                    display: none;
                    flex-direction: column;
                    position: absolute;
                    width: max-content;
                    padding: 50px 10px;
                    left: -10px;
                    background-color: #fff;
                    z-index: 99;

                    li{
                        margin-bottom: 10px;
                        position: relative;
                        z-index: 3;

                        a {
                            font-size: 22px;
                            line-height: 40px;
                            color: getColor(2);
                            transition: color .3s ease;

                            &:hover {
                                color: getColor(3);
                            }
                        }

                        &.current-menu-item{
                            a{
                                color: rgb(66,117,174);
                            }
                        }
                    }
                }
            }

            li.has-mega-menu ul {
                display: none !important;
            }
        }

        li.menu-item-has-children ul.sub-menu::after {
            content: '';
            display: block;
            position: absolute;
            top: 16px;
            bottom: 0;
            left: -100vw;
            right: -100vw;
            width: auto;
            background: #F2F2F2;
        }
    }

    &__container{
        display: flex;
    }

    &__logo{
        width: 22.49%;

        @media (max-width: $bp_tabletLandscape) {
            width: auto;
        }

        img{
            max-width: 100%;
            height: auto;

            @media (max-width: $bp_mobileMenuShift) {
                width: 100%;
                max-width: 200px;
            }
        }
    }

    &__panel {
        position: absolute;
        top: 10px;
        right: 58px;
        z-index: 2;

        @media (max-width: $bp_tabletLandscape) {
            display: none;
        }

        ul {
            text-align: right;
            list-style: none;
            padding: 0;
        }

            li {
                display: inline-block;
                vertical-align: middle;
                margin-right: 45px;

                @media (max-width: $bp_desktopLarge) {
                    margin-right: 10px;
                }

                &:last-child {
                    margin-right: 0 !important;
                }
            }

                a {
                    text-decoration: none;
                    font-size: 24px;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    @media (max-width: $bp_desktopLarge) {
                        font-size: 18px;
                    }

                    @media (max-width: $bp_mobileMenuShift) {
                        font-size: 15px;
                    }

                    img {
                        display: inline-block;
                        margin-right: 10px;
                        height: auto;

                        @media (max-width: $bp_mobileMenuShift) {
                           max-width: 22px;
                        }
                    }
                }

                .bag-btn img {
                    margin: 0;
                }
    }


    @media screen and (max-width: 1280px){
        &__user{
            position: absolute;
            top: -10px;
            right: 325px;
        }
    }

    @media screen and (max-width: 1024px){
        padding: 0 20px;
        height: 74px;

        &__top{
            position: relative;
            align-items: center;
            height: 100%;
        }

        &__user{
            display: none;
        }

        &__logo{
            margin-right: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50% , -50%);

        }

        &__burger-menu{
            position: relative;
            z-index: 9;
            .hamburger-box{
                width: 22px;
            }

            .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
                background-color: #221f20;
                width: 22px;
                height: 2px;

            }
        }

        &__cart{

            svg{
                width: 25px;
                top: auto;
            }

            span{
                font-size: 16px;
                top: calc(50% + 3px);
                left: calc(50% - 2px);
            }

    
            
        }

        
        &__mobile{
            display: block;
        }

        &__menu{
            display: none;
        }

        a.subscription{
            display: none;
        }

        a.login{
            display: none;
        }
    }
}


.header__mega-menu {

    &[data-id="menu-1"] {

        .header__mega-menu-container {
            margin: unset;
            width: 77.51%;
            padding: 0;
            margin-left: 21.49%;
            padding-left: 40px;

            @media (max-width: $bp_desktopLarge) {
                margin-left: 24.49%;
            }

            // @media (max-width: $bp_desktopMedium) {
            //     margin-left: calc(22.49% + 295px);
            // }

            @media (max-width: $bp_desktopSmall) {
                margin-left: 22.49%;
            }

            @media (max-width: $bp_mobileMenuShift) {
                margin-left: 21.49%;
            }
        }

        .header__mega-menu-row {
            justify-content: flex-start;
            column-gap: 60px;
        }
    }

    &[data-id="menu-2"] {
        .header__mega-menu-container {
            margin: unset;
            width: 77.51%;
            padding: 0;
            margin-left: calc(22.49% + 172px);

            @media (max-width: $bp_desktopMedium) {
                margin-left: 32.79%;
            }
        }

        // .header__mega-menu-row {
        //     justify-content: flex-start;
        //     column-gap: 60px;
        // }

        // .header__mega-menu-col:nth-child(1) {
        //     width: 100%;
        //     max-width: 323px;
        // }

        // .header__mega-menu-col:nth-child(2) {
        //     width: 100%;
        //     max-width: 542px;
        // }
    }

    &[data-id="menu-3"] {

        .header__mega-menu-container {
            margin: unset;
            width: 77.51%;
            padding: 0;
            margin-left: calc(22.49% + 415px);

            @media (max-width: $bp_desktopLarge) {
                margin-left: calc(22.49% + 353px);
            }

            @media (max-width: $bp_desktopMedium) {
                margin-left: calc(22.49% + 295px);
            }

            @media (max-width: $bp_desktopSmall) {
                margin-left: calc(22.49% + 269px);
            }

            @media (max-width: $bp_mobileMenuShift) {
                margin-left: calc(22.49% + 256px);
            }
        }

    }

    &[data-id="menu-4"] {

        .header__mega-menu-container {
            margin: unset;
            width: 77.51%;
            padding: 0;
            margin-left: calc(22.49% + 720px);

            @media (max-width: $bp_desktopLarge) {
                margin-left: calc(22.49% + 578px);
            }

            @media (max-width: $bp_desktopMedium) {
                margin-left: calc(22.49% + 474px);
            }

            @media (max-width: $bp_desktopSmall) {
                margin-left: calc(22.49% + 452px);
            }

            @media (max-width: $bp_mobileMenuShift) {
                margin-left: calc(22.49% + 440px);
            }
        }

    }
}
// .header__mega-menu[data-id="menu-2"] .header__mega-menu-container {
//     margin: unset;
//     width: 77.51%;
//     padding: 0;
//     margin-left: calc(22.49% + 172px);
// }

// .header__mega-menu[data-id="menu-2"] .header__mega-menu-row {
//     justify-content: flex-start;
//     column-gap: 60px;
// }

// .header__mega-menu[data-id="menu-2"] .header__mega-menu-col:nth-child(1) {
//     width: 100%;
//     max-width: 323px;
// }

// .header__mega-menu[data-id="menu-2"] .header__mega-menu-col:nth-child(2) {
//     width: 100%;
//     max-width: 542px;
// }

.announcement{
    background-color: getColor(2);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &__container{
        max-width: 100%;
    }

    &__list{
        .slick-slide{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        text-align: center;
        p{
            font-size: 24px;
            line-height: 20px;
            letter-spacing: 0.24px;
            color: #FFFFFF;
            font-weight: 500;

            @media (max-width: $bp_mobileMenuShift) {
                font-size: 15px;
            }
        }
    }

    @media screen and (max-width: 768px){
        
        &__list{
            p{
                font-size: 16px;
                line-height: 22px;
            }
        }
    }

    @media screen and (max-width: 580px){
        height: auto;
        padding: 10px 20px;
        
        &__list{
            p{
                font-size: 16px;
                line-height: 22px;
            }
        }
    }
}

.header-sidemenu{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 350px;
    background-color: #fff;
    z-index: 9;
    padding-top: 69px;
    padding-left: 33px;
    padding-right: 33px;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
    overflow-y: auto;

    &.active{
        transform: translateX(0);
        opacity: 1;
    }

    @media screen and (max-width: 1024px){
        display: block;
    }

    &__close {
        -webkit-appearance: none;
        appearance: none;
        border: none;
        padding: 5px;
        background: transparent;
        color: getColor(2);
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 0;
        line-height: 1;
    }

    a.manage-subs-mobile{
        font-size: 15px;
        color: getColor(2);
        line-height: 21px;
        font-weight: 600;
        
    }

    &__user{
        margin-top: 21px;
        a{
            display: flex;
            align-items: center;
            font-size: 15px;
            text-decoration: none;
            height: 40px;

            svg{
                width: 30px;
                height: 30px;
                margin-left: 14px;

                path{
                    fill: #4275ae
                }
            }
        }
    }

    &__menu{
        margin-top: 10px;
        ul{
            padding: 0;
            margin: 0;
            list-style: none;

            li{
                // height: 56px;
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                margin-bottom: 10px;
                position: relative;
                margin-bottom: 20px;

                &.menu-item-has-children {
                    padding-right: 30px;
                }

                &.current-menu-parent{
                   & > a{
                        color: rgb(66,117,174);
                    }
                }

                a{
                    font-size: 15px;
                    font-weight: 600;
                    color: #221f20;
                    text-decoration: none;
                }

                button{
                    padding: 0;
                    border: 0;
                    background-color: transparent;
                    position: absolute;
                    right: 0;
                    top: 0;
                }

                ul.sub-menu{
                    padding-left: 20px;
                    padding-top: 10px;
                    display: none;
                    li{
                        height: auto;
                        margin-bottom: 10px;

                        &.current-menu-item{
                            a{
                                color: rgb(66,117,174);
                            }
                        }
                    }
                }
            }
        }
    }

    &__medical-login{
        margin-bottom: 46px;
        position: relative;
        left: -33px;
        a{
            font-size: 16px;
            color: #fff;
            border-bottom-left-radius: 0px;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            padding-left: 20px;
            padding-right: 10px;
            box-shadow: 0 3px 5px #C8C7C7;
            background: getColor(2);
            transition: all 0.2s ease, visibility 0s;
            border-top-left-radius: 0px;
            text-decoration: none;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 300px;
            height: 48px;
            font-weight: 500;

            &:hover{
                background: #4275AE;
                box-shadow: 0 3px 5px #C8C7C7;
            }

            svg{
                width: 29px;
                height: 29px;
                margin-left: 8px;

                path{
                    fill: #fff;
                }
            }
        }
    }
}