.advisor-listing{
    padding: 100px 0 65px;

    &__container{
        max-width: 1765px;
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
    }

    &__title{
        padding-bottom: 89px;
       

        h1{
            font-size: 50px;
            line-height: 1;
            color: getColor(2);
            text-align: center;
        }
    }

    &__row{
        // padding-top: 43px;
        // padding-left: 40px;
    }

    &__column{
        border-top: 2px solid getColor(3);
        padding: 100px 0 35px;
    }

    &__inner{
        display: flex;
    }

    &__thumbnail{
       width: 29.21%;

        img {
            width: 100%;
        }
    }

    &__content{
        width: 70.79%;
        padding-left: 85px;

        @media (max-width: $bp_mobileMenuShift) {
            padding-left: 35px;
        }

        h2{
            color: getColor(2);
            margin-bottom: 40px;
        }

        p{
            font-size: 25px;
            line-height: 35px;
            margin-bottom: 20px;

            @media (max-width: $bp_mobileMenuShift) {
                font-size: 20px;
                line-height: 29px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

    }

    &__post {
        margin-top: 95px;
    }

    &__post-row{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -20px;

        @media screen and (max-width: 480px) {
           margin: 0;
           display: block;
        }
    }

    &__post-column{
        padding: 0 20px;
        width: calc(100% / 4);
        margin-bottom: 50px;

         @media screen and (max-width: $bp_tabletLandscape) {
            width: 50%;
         }

         @media screen and (max-width: 480px) {
            width: 100%;
            padding: 0;
         }
    }

    &__post-inner{
        position: relative;
    }

    &__image{
        position: relative;
        display: block;

        canvas {
            display: block;
            width: 100%;
        }

        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &::after{
            content: "";
            position: relative;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(#000, 0.3);
        }
    }

    &__post-content{
        margin-top: 20px;

        a.title{
            font-size: 25px;
            line-height: 35px;
            color: getColor(2);
            text-decoration: none;

            @media (max-width: $bp_mobileMenuShift) {
                font-size: 20px;
                line-height: 25px;
            }

            &:hover{
                color: #46abd3;
            }
        }
    }

    &__embeds {
        padding-top: 95px;
        margin: 0 -17.5px;
        display: flex;

        @media (max-width: 480px) {
            display: block;
            margin: 0;
        }

        &__item {
            padding: 0 17.5px;
            width: 50%;

            @media (max-width: 480px) {
                width: 100%;
                padding: 17.5px 0;
            }
        }

        &__embed {
            position: relative;
            padding-top: 56.2%;

            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }

        &__embed-title {
            padding-top: 20px;

            h3 {
                font-size: 25px;
                color: getColor(2);
                line-height: 35px;
            }
            
        }
    }

    @media screen and (max-width: $bp_tabletLandscape) {
        padding: 35px 0;

        &__title{
            padding-bottom: 35px;

            h1{
                font-size: 30px;
                line-height: 42px;
            }
        }

        &__inner{
            flex-direction: column;
        }
        
        &__column{
            padding-left: 0;
        }

        &__content{
            padding-left: 0;
        }

        &__thumbnail{
           width: 100%;
           margin-bottom: 30px;

           img {
                max-width: 350px;
                margin: 0 auto;
                display: block;
           }
        }

        &__content{
            max-width: 100%;
            width: 100%;

            &-text {

                h2 {
                    text-align: center;
                }
            }
        }
        
    }

    @media screen and (max-width : 480px){

        &__post-column{
            max-width: 100%;
            width: 100%;
        }
    }
}

.team-listing{
    border-bottom: 1px solid #4275ae;

    padding: 50px 0 80px;

    &__container{
        max-width: 940px;
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
    }

    &__title{
        margin-bottom: 50px;

        h1{
            font-size: 40px;
            line-height: 56px;
            color: #4275ae;
        }
    }

    &__column{
        margin-bottom: 110px;

        &:last-child{
            margin-bottom: 0;
        }
    }

    &__inner{
        display: flex;
    }

    &__thumbnail{
        max-width: 273px;
        width: 100%;
    }

    &__content{
        flex: 1;
        padding-left: 25px;

        h3{
            font-size: 30px;
            line-height: 42px;
            color: #4275ae;
        }

        h4{
            font-size: 20px;
            line-height: 42px;
            color: #4275ae;
            margin-bottom: 10px;
        }

        p{
            color: #221f20;
            font-size: 16px;
            line-height: 29px;
        }
    }

    @media screen and (max-width: 768px){
        padding: 35px 0;

        &__title{
            padding-bottom: 35px;
            margin-bottom: 0;

            h1{
                font-size: 30px;
                line-height: 42px;
            }
        }

        &__inner{
            flex-direction: column;
        }
        
        &__column{
            padding-left: 0;
            margin-bottom: 100px;
        }

        &__content{
            padding-left: 0;
        }

        &__thumbnail{
            max-width: 100%;
            margin-bottom: 10px;
        }

        &__content{
            max-width: 100%;
        }
    }

    @media screen and (max-width: 480px){
        &__thumbnail{
            img{
                width: 100%;
            }
        }
    }


}