.benefit-listing{
    background-color: rgb(243, 243, 243);
    padding: 59px 0;

    &.theme_two{
        background-color: #fff;

        .benefit-listing{
            &__inner{
                align-items: center;
            }

            &__column{
                margin-bottom: 0;
            }

            &__content{
                padding-top: 0;
            }

            &__icon{
                width: 116px;
                svg{
                    path{
                        &:first-child{
                            fill: none;
                        }

                        fill: #4275AE;
                    }
                }
            }
        }
    }



    &__container{
        max-width: 940px;
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
    }

    &__title{
        margin-bottom: 20px;
        h2{
            font-size: 40px;
            color: #4275ae;
            line-height: normal;
            font-weight: 400;
        }

        h3{
            font-size: 30px;
            line-height: 42px;
            color: #4275ae;
            font-weight: 400;
        }

        p{
            font-size: 17px;
            line-height: 29px;
            color: #221f20;
            font-weight: 500;
            margin-top: 20px
        }
    }

    &__row{
        &.number{
            .benefit-listing__inner{
                align-items: center;
            }

            .benefit-listing__column{
                margin-bottom: 27px;
            }

            .benefit-listing__icon{
                width: 59px;
            }

            .benefit-listing__content{
                padding-left: 50px;
            }
        }
    }

    &__bottom-content{
        p{
            font-size: 17px;
            line-height: 24px;
            color: #221f20;
            font-weight: 500;

            strong{
                font-weight: bold;
            }
        }
    }

    &__column{
        margin-bottom: 59px;

        &:last-child{
            margin-bottom: 0;
        }
    }

    &__inner{
        display: flex;

        
    }

    &__icon{
        width: 100px;

        svg{
            path:nth-child(1){
                fill: none;
            }
        }

        span{
            font-size: 45px;
            color: #221f20;
            height: 59px;
            width: 59px;
            border: 2px solid #221f20;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__content{
        flex: 1;
        padding-left: 35px;
        padding-top: 14px;

        h3{
            font-size: 20px;
            line-height: 28px;
            color: #4275ae;
            margin-bottom: 4px;
            font-weight: 600;
        }

        ul{
            list-style: disc;

            li{
                font-size: 18px;
                line-height: 25px;
                color: #221f20;
            }
        }

        p{
            font-size: 17px;
            line-height: 24px;
            color: #221f20;
            font-weight: 500;

            strong{
                font-weight: bold;
            }
        }
    }

    @media screen and (max-width: 768px){
        padding: 50px 0;

        &__title{
            margin-bottom: 40px;
            h2{
                font-size: 28px;
                line-height: normal;
            }
        }

        &__content{
            h3{
                font-size: 19px;
                line-height: 27px;
            }

            ul{
                li{
                    font-size: 17px;
                    line-height: 24px;
                }
            }
        }

        &__column{
            margin-bottom: 30px;
        }

        &__bottom-content{
            p{
                font-size: 14px;
                line-height: 20px;
            }
        }

        &__icon{
            span{
                font-size: 43px;;
            }
        }

        &__row{
            &.number{
                .benefit-listing__inner{
                    flex-direction: column;
                    align-items: flex-start;
                }

                .benefit-listing__column{
                    margin-bottom: 30px;
                }

                .benefit-listing__content{
                    padding-left: 0;

                    p{
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 480px){
        &__inner{
            flex-direction: column;
        }

        &__content{
            padding-left: 0;
        }
    }
}