.card-content-list {
    padding: 100px 20px 107.5px;

    @media (max-width: $bp_tabletLandscape) {
        padding: 60px 20px;
    }

    &__container {
        max-width: 1820px;
        margin: 0 auto;
    }

        &__title {
            text-align: center;
            font-size: 50px;
            font-weight: 400;
            line-height: 1;
            margin-bottom: 83.5px;
            color: #fff;

            @media (max-width: $bp_desktopMedium) {
                font-size: 40px;
                line-height: 45px;
            }

            @media (max-width: $bp_tabletLandscape) {
                font-size: 28px;
                line-height: 30px;
                margin-bottom: 20px;
            }
        }

        &__list {
            display: flex;
            margin: 0 -16.5px;

            @media (max-width: $bp_desktop) {
                margin: 0;
            }

            @media (max-width: $bp_tabletLandscape) {
                margin: 0;
                display: block;
            }
        }

            &__item {
                width: calc(100% / 4);
                padding: 16.5px;

                @media (max-width: $bp_tabletLandscape) {
                    width: 100%;
                    padding: 16.5px 0;
                    max-width: 400px;
                    margin: 0 auto;
                }

                &__inner {
                    background-color: rgba(255, 255, 255, .30);
                    padding: 30px 35px;
                    color: #fff;
                    height: 100%;
                }

                &__title {
                    font-size: 40px;
                    font-weight: 500;
                    line-height: 1;
                    color: inherit;
                    margin-bottom: 40px;

                    @media (max-width: $bp_desktopMedium) {
                       font-size: 27px;
                    }
                }

                &__content {
                    p {
                        font-size: 30px;
                        line-height: 40px;
                        color: inherit;

                        @media (max-width: $bp_desktopMedium) {
                            font-size: 20px;
                            line-height: 30px;
                        }
                    }
                }
            }
}