.doctor-banner{
    padding: 66px 0 60px;
    background-color: rgb(243, 243, 243);

    &__container{
        max-width: 922px;
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;

        display: flex;
        justify-content: space-between;
    }

    &__text{
        max-width: 603px;
        p{
            font-size: 17px;
            line-height: 24px;
            color: #221f20;
            font-weight: 400;
        }
    }

    &__image{
        margin-right: 30px;
        img{
            border-radius: 20px;
        }
    }

    @media screen and (max-width: 768px){
        padding: 40px 0;

        &__container{
            flex-direction: column;
        }

        &__image{
            margin-right: 0;
            margin-bottom: 20px;
          
        }

        &__text{
            max-width: 100%;

            p{
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
}