.pdf-listing {
    padding: 90px 0 67px;
    overflow: hidden;

    &__title{
         margin-bottom: 90px;

        h2{
            color: getColor(2);
            text-align: center;
        }
    }

    &__container{
        max-width: calc(100% - 100px);
        width: 100%;
        margin: 0 auto;
    }

    &.has-border {
        position: relative;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 50px;
            right: 50px;
            height: 2px;
            background-color: #E5E5E5;
        }
    }

    &__row{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 -36.5px;

        @media (max-width: $bp_desktopMedium) {
            margin: 0 -20px;
        }

        @media (max-width: $bp_mobileLandscape) {
            margin: 0;
            display: block;
        }
    }

    &__thumbnail{
        img{
            width: 300px;
            height: 388px;
            line-height: 0;
            object-fit: cover;
        }
    }

    &__column{
        width: calc(100% / 4);
        padding: 0 36.5px;
        margin-bottom: 70px;

        @media (max-width: $bp_desktopMedium) {
            padding: 0 20px;
            margin-bottom: 40px;
        }

        @media (max-width: $bp_tabletLandscape ) {
            width: 50%;
        }

        @media (max-width: $bp_mobileLandscape) {
            width: 100%;
            margin: 0 auto 40px;
            max-width: 400px;
        }
    }

    &__inner{
        text-align: center;
        padding: 0 20px 20px;
        height: 630px;
        position: relative;
        background-color: #F9F9F9;

        @media (max-width: $bp_desktopMedium) {
            height: 488px;
        }

        img{
            max-width: 100%;
            width: 100%;

            @media (max-width: $bp_desktopMedium) {
                height: 280px;
            }
        }

        h3 {
           color: getColor(2);
           margin: 20px 0 0;

            @media (min-width: 1441px) {
                font-size: 24px;
                line-height: 36px;
            }

            @media (min-width: 1701px) {
                font-size: 30px;
                line-height: 40px;
            }
            
            @media (max-width: $bp_desktopMedium) {
                font-size: 20px;
                line-height: 29px;
            }
        }

        a.button{
            position: absolute;
            bottom: 30px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 28px;
            line-height: 34px;
            height: 50px;
            font-weight: 500;
            border-radius: 19px;
            width: calc(100% - 40px);

            @media (max-width: $bp_desktopMedium) {
                font-size: 20px;
                height: 40px;
            }
        }
    }

    @media screen and (max-width: 1366px){
        padding: 66px 0 41px;

        &__container{
            padding: 0 20px;
            max-width: 100%;
        }

        &__title{
            margin-bottom: 36px;

            h2{
                font-size: 32px;
                line-height: 45px;
            }   
        }



        &__inner{
            // padding: 10px 20px 34px;

            p{
                font-size: 17px;
                line-height: 24px;
            }

            a.button{
                bottom: 30px;
            }
        }
    }

    @media screen and (max-width: 900px){
        &__thumbnail{
            img{
                max-width: 300px;
            }
        }
    }


    @media screen and (max-width: 768px){
       
    }

   
}