.product-listing-post{
    padding-top: 54px;
    padding-bottom: 27px;
    
    &__column{
        width: 100%;
        margin-bottom: 27px;

        &:last-child{
            margin-bottom: 0;
        }
    }

    &__inner{
        display: flex;
        border: 1px solid #d3d2d2;
        min-height: 98px;
    }

    &__thumbnail{
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        flex: 0 0 auto;
        -webkit-print-color-adjust: exact;
        width: 185px;
        position: relative;

        &:hover{
            filter: brightness(85%) contrast(115%);
        }

        a{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-decoration: none;
        }
    }

    &__details{
        padding: 18px;
        align-items: center;
        display: flex;
        gap: 12px;
        justify-content: space-between;
        width: 100%;

        a{
            text-decoration: none;
        }

        h4{
            font-size: 16px;
            line-height: 22px;
            color: #221f20;
            font-weight: 600;
        }

        a.cta{
            text-decoration: none;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background-color: rgb(34,31,32);
            color: #fff;
            font-size: 16px;
            padding: 6px 12px;
            height: 40px;
            min-width: 113px;
        }

    }

    @media screen and (max-width:580px){
        &__inner{
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }

        &__thumbnail{
            height: 200px;
            width: 100%;
        }

        &__details{
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 18px;
            gap: 18px;

            h4{

            }

            a.cta{
                width: 100%;
            }
        }
    }
}