.product-listing{
    padding: 91px 0 133px;
    overflow: hidden;

    @media (max-width: $bp_desktopSmall) {
        padding: 60px 20px;
    }

    &.three{
        .product-listing__container{
            max-width: 923px
        }

        @media screen and (max-width : 768px){
            .product-listing__title{
               h2{
                font-size: 24px;
                line-height: 34px;
               }
            }
        }
    }

    &.two {

        .product-listing__container {
            max-width: 1820px;
            width: auto;
        }

        .product-listing__row {
            @media (max-width: $bp_mobileLandscape) {
                display: block;
            }
        }

        .product-listing__column {
            width: 50%;
            padding: 0 50px;
            max-width: unset;

            @media (max-width: $bp_desktopMedium) {
                padding: 0 30px;
            }

            @media (max-width: $bp_tabletLandscape) {
                width: 100%;
                padding: 0;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            @media (max-width: $bp_mobileLandscape) {
                width: 100% !important;
                max-width: 350px !important;
                margin: 0 auto 30px !important;
                padding: 0;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &__title{
        margin-bottom: 90px;

        h2{
            font-size: 50px;
            line-height: 1;
            color: getColor(2);
            text-align: center;

            @media (max-width: $bp_desktopMedium) {
                font-size: 40px;
                line-height: 45px;
            }

            @media (max-width: $bp_tabletLandscape) {
                font-size: 28px;
                line-height: 30px;
            }
        }
    }

    &__container{
        max-width: 1820px;
        margin: 0 auto;
        width: 100%;
    }

    &__row{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 -27.5px;

        @media (max-width: $bp_desktopMedium) {
            margin: 0;
        }
    }

    &__column{
        max-width: 443px;
        width: 100%;
        padding: 0 27.5px;
        margin-bottom: 55px;
    }

    &__inner{
        padding: 25px 50px 25px 0;
        background-color: #F9F9F9 ;
        position: relative;
        height: 100%;
        display: flex;
        
        @media (max-width: $bp_mobileLandscape) {
            padding: 25px !important;
            display: block;
        }

        img{
            max-width: 100%;
            height: auto;
        }
    }

        &__column-left {
            width: 52.73%;

            @media (max-width: $bp_mobileLandscape) {
                width: 100%;
            }
        }

        &__column-right {
            width: 47.27%;
            display: flex;
            padding: 22px 0;
            flex-direction: column;
            justify-content: space-between;

            @media (max-width: $bp_mobileLandscape) {
                width: 100%;
            }
        }

    &__details{
        
    }

    &__name{
       margin-bottom: 28px;

        h5{
            font-size: 35px;
            line-height: 1;
            color: getColor(2);
            font-weight: 500;

            @media (max-width: $bp_desktopMedium) {
                font-size: 28px;
            }
        }
    }

    &__desc{
        p{
            font-size: 25px;
            line-height: 30px;
            letter-spacing: 0px;
            margin-bottom: 27px;

            @media (max-width: $bp_desktopMedium) {
                font-size: 18px;
                line-height: 20px;
            }
            
        }

        *:last-child {
            margin-bottom: 0;
        }
    }

    &__cta{
        padding-top: 46px;
        width: 100%;

        .button {
            width: 100%;
        }
    }

    &__button {
        text-align: center;
        padding-top: 53px;
    }

    @media screen and (max-width: 1480px){
        &__row{
            justify-content: center;
        }

    }

    @media screen and (max-width: 1366px){

        &__column{
            max-width: 33.33%;
        }

        &__container{
            padding: 0 20px;
        }

        &__name{
            h5{
                font-size: 23px;
                line-height: 32px;
            }
        }
    
        &__desc{
            p{
                font-size: 14px;
                line-height: normal;
            }
        }

        &__row{
            margin: 0 -15px;
        }
    
        &__column{
            padding: 0 15px;
            margin-bottom: 30px;
            
        }

        &__inner{
            padding: 20px;
            padding-left: 0;

            img{
                max-width: 300px;
                width: 100%;
            }
        }
    }

    @media screen and (max-width: 768px){
        // &__title{
        //     padding-top: 25px;
        //     padding-bottom: 32.5px;

        //     // h2{
        //     //     font-size: 19px;
        //     //     line-height: 27px;

        //     //     br{
        //     //         display: none;
        //     //     }
        //     }
        // }

        &__column{
            max-width: 50%;

        }

        &__inner{
            text-align: center;

        }

        &__cta{
            bottom: 20px;
        }

        &__desc{
            min-height: 0;
            p{
                font-size: 15px;
            }
        }
    }

    @media screen and (max-width: 600px){
        &__column{
            max-width: 100%;

        }
    }
}


.product-listing-cart{
    padding: 90px 20px 20px;

    &--column-layout-2 {
        padding-bottom: 70px;
    }
    
    &__title{
        text-align: center;
        margin-bottom: 30px;
        padding: 0 20px;

        h2{
            max-width: 960px;
            width: 100%;
            margin: 0 auto;
            color: getColor(2);
            margin-bottom: 53.5px;
        }

        p{
            font-size: 14px;
            line-height: 24px;
            color: rgb(34,31,32);
            max-width: 600px;
            margin: 0 auto;
        }
    }

    &__container{
        max-width: 1820px;
        width: 100%;
        margin: 0 auto;
    }

    &__row{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -36.5px;
        justify-content: center;

        @media (max-width: 1366px) {
            margin: 0 -10px;
        }

        @media (max-width: $bp_mobileLandscape) {
            margin: 0;
            display: block;
        }
    }

    &--column-layout-2 .product-listing-cart__row {
        @media (max-width: $bp_tabletLandscape ) {
            margin: 0;
            display: block;
        }
    }

    &__column{
        width: calc(100% / 4);
        padding: 30px 36.5px;

        @media (max-width: 1366px) {
            padding: 30px 10px;
        }

        @media (max-width: $bp_tabletLandscape ) {
            width: 50%;
        }

        @media (max-width: $bp_mobileLandscape) {
            width: 100%;
            padding: 20px 0;
            max-width: 400px;
            margin: 0 auto;
        }
    }

    &--column-layout-2 .product-listing-cart__column {
        width: 50%;

        @media (max-width: $bp_tabletLandscape ) {
            width: 100%;
            max-width: 500px;
            margin: 0 auto;
            padding: 20px 0;
        }
    }

    &__inner {
        background: #F9F9F9;
    }

    &__thumbnail-wrapper{
        position: relative;
        overflow: hidden;

        a.click{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 5;
        }

        &:hover{
            .product-listing-cart__hover-image{
                opacity: 1;
            }

            .product-listing-cart__hover-button{
                bottom: 0;
            }
        }
    }

    &--column-layout-2 .product-listing-cart__thumbnail-wrapper {
        height: 400px;

        @media (max-width: $bp_mobileMenuShift) {
            height: 250px;
        }
    }

    &__featured{
        text-align: center;

        img {
            width: 100%;
        }
    }

    &--column-layout-2 .product-listing-cart__featured,
    &--column-layout-2 .product-listing-cart__hover-image {
        height: 100%;

        img {
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }

    

    &__hover-image{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        cursor: pointer;

        img{
            line-height: 0;
            max-width: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    &__badge{
        display: inline-flex;
        background-color: rgb(70 171 211);
        padding: 2px 12px;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 30px;
        height: 23.59px;
        align-items: center;
        justify-content: center;


        p{
            color: #fff;
            font-size: 14px;
        }
    }

    &__hover-button{
        height: 50px;
        background-color: rgba(#fff, 0.75);
        width: 100%;
        position: absolute;
        bottom: -50px;
        left: 0;
        z-index: 6;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: bottom 0.3s ease-in-out;
        cursor: pointer;

        a{
            color: #000;
            font-size: 14px;
            font-weight: 400;
            text-decoration: none;
        }
    }

    &__quantity{
        padding-top: 19px;
        display: flex;
        align-items: center;
        justify-content: center;

        .quantity-wrapper {
            display: flex;
            border: 2px solid #707070;
            justify-content: space-between;
            border-radius: 19px;
            width: 44.60%;
            align-items: center;

            @media (max-width: $bp_mobileMenuShift) {
                width: 60%;
            }
        }

        .quantity-label {
            width: 55.4%;
            font-size: 20px;
            line-height: 35px;
            padding-left: 14px;

            @media (max-width: $bp_mobileMenuShift) {
                width: 40%;
                font-size: 14px;
                padding-left: 10px;
            }
        }

        button{
            width: 35px;
            height: 35px;
            padding: 4px;
            background-color: transparent;
            border: 0;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: opacity .3s ease;
            opacity: 0;

            svg{
                path{
                    fill: rgb(34,31,32);
                }
            }
        }

        .quantity-wrapper:hover button {
            opacity: 1;
        }

        input{
            height: 35px;
            border: 0;
            text-align: center;
            width: calc(100% - 70px);
            appearance: none;
            -moz-appearance: textfield;
            height: 54px;
            font-size: 25px;
            font-family: getFont(2);
            color: getColor(1);

            @media (max-width: 1366px) {
                height: 40px;
                font-size: 18px;
            }

            &::-webkit-outer-spin-button{
                -webkit-appearance: none;
            }
        }

        input[type="number"] {
            -moz-appearance: textfield;
        }
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            
        }
    }

    &--column-layout-2 .product-listing-cart__quantity {
        display: inline-flex;
        vertical-align: middle;
        padding-top: 0;

        @media (max-width: $bp_mobileLandscape ) {
            display: flex;
        }

        .quantity-wrapper {
            width: 160px;

            @media (max-width: $bp_tabletLandscape ) {
                width: 110px;
            }
        }

        .quantity-label {
            width: auto;
        }
    }

    &__details{
        padding: 20px 20px 30px;

        &-text{
            min-height: 85px;
        }
    }

    &--column-layout-2 .product-listing-cart__details {
        text-align: center;
    }

    &__name{
        text-align: center;
        h5{
            font-size: 35px;
            line-height: 30px;
            color: getColor(2);
            font-weight: 500;
            margin-bottom: 27px;

            @media (max-width: $bp_desktopMedium) {
                font-size: 24px;
                line-height: 30px;
            }
        }
    }

    &__desc{
        text-align: center;
        min-height: 130px;

        p{
            font-size: 25px;
            line-height: 30px;
            margin-bottom: 19px;

            @media (max-width: $bp_desktopMedium) {
                font-size: 18px;
                line-height: 24px;
                margin-bottom: 19px;
            }
        }
    }

     &--column-layout-2 .product-listing-cart__desc {
        min-height: unset;
        padding-bottom: 25px;

        @media (max-width: $bp_mobileLandscape) {
            padding-bottom: 0;
        }
     }

    &__price {
        font-size: 35px;
        line-height: 30px;
        color: getColor(2);
        font-weight: 500;
        text-align: center;

        @media (max-width: $bp_desktopMedium) {
            font-size: 24px;
            line-height: 30px;
        }
    }

    &--column-layout-2 .product-listing-cart__price {
        display: inline-block;
        vertical-align: middle;
        margin-right: 25px;

        @media (max-width: $bp_tabletLandscape ) {
            margin-right: 10px;
        }

        @media (max-width: $bp_mobileLandscape) {
            display: block;
            margin-right: 0;
            margin-bottom: 10px;
        }
    }

    &__cta{
        padding-top: 12px;

        a.button{
            background-color: getColor(2) !important;
            color: #fff !important;
            font-weight: 400 !important;
            text-align: center !important;
            padding: 11px 16px !important;
            border-radius: 19px !important;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            @media (min-width: 1367px) {
                font-size: 30px !important;
                height: 60px !important;
            } 

            &.mobile{
                display: none;
            }

        }

        .text-link {
            font-size: 30px;
            font-weight: 400;
            text-decoration: none;
            color: getColor(2);
            line-height: 37px;
            text-align: center;
            display: block;
            margin-top: 17px;

            @media (max-width: 1366px) {
                font-size: 20px;
            }
        }
    }

    &--column-layout-2 .product-listing-cart__cta {
        padding-top: 40px;

        a.button {
            max-width: 320px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    @media screen and (max-width: 768px){
        padding: 20px 0 45px;

        &__title{
            h2{
                font-size: 22px;
                line-height: 1.4em;
                margin-bottom: 20px;

                &::after{
                    margin: 20px auto;
                }
                
            }
        }

        &__container{
            max-width: 100%;
            padding: 0 20px;
        }

        &__cta{
            a.button{
                &.desktop{
                    display: none;
                }

                &.mobile{
                    display: block;
                }
            }
        }
    }
}

/* Modal container hidden by default */
.product-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

    &.active{
        display: flex !important;
    }

    .wcsatt-options-prompt-radios {
        padding-left: 0;

        li{
            padding: 15px;
            border: 1px solid rgba(0, 0, 0, .6);
            margin-bottom: 12px !important;
            cursor: pointer;

            span {
                font-size: 22px !important;
                line-height: 1;

                @media (max-width: $bp_mobileMenuShift) {
                    font-size: 20px !important;
                }
            }
            .wcsatt-options-prompt-action-input + span.wcsatt-options-prompt-action::before {
                width: 20px;
                height: 20px;
                margin-right: 10px;

            }
        }
    }
    
  }
  
  /* The semi-transparent overlay */
  .product-modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(85, 85, 85, .75);
    top: 0;
    left: 0;

  }
  
  /* Modal content box */
  .product-modal__content {
    position: relative;
    background: #fff;
    margin: 10% auto;
    padding: 32px;
    width: 100%;
    max-width: 940px;
    height: 620px;
    z-index: 1001;
    border: 2px solid rgba(34,31,32);
    overflow-y: auto;
  }
  
  /* Close button */
  .product-modal__close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    cursor: pointer;

    svg{
        circle{
            fill: none;
        }
    }
  }

  .product-modal__body{
    height: 100%;
  }
  

  .quick-view{



    &__modal-content{
        display: flex;
    }

    &__image{
        padding-bottom: 32px;
        overflow: hidden;

        .product-gallery-images{
            .slick-slide{
                display: block;

                img{
                    max-width: 100%;
                    object-fit: contain;
                    height: 100%;
                }
            }

            .slick-dots{
                bottom: -40px;
                li{
                    margin: 0;
                    button{
                        &::before{
                            font-size: 35px;
                        }
                    }
                }
            }
        }

        @media only screen and (min-width: 769px) {
            
            flex-basis: 700px;
        }
        
    }

    &__details{
        padding-top: 20.750px;
        position: relative;

        .quantity-wrapper{
            input.qty{
                color: #575757;
                font-size: 14px;
                height: 40px;
                padding-inline-start: 14px;
                padding-inline-end: 28px;
                border: 1px solid #c9c9c9;
                width: 76px;
            }
        }

        .single_add_to_cart_button{
            font-size: 14px !important;
            color: #fff !important;
            font-weight: 400 !important;
            width: 100% !important;
            background-color: #221F20 !important;
            border-color: #221F20 !important;
            border-radius: 20px !important;
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            height: 39.59px !important;
        }


        @media only screen and (min-width: 769px) {
                flex-basis: 500px;
                margin-left: 32px;
        }

        h2{
            font-size: 25px;
            color: rgba(34,31,32);
            line-height: 30px;
            word-wrap: break-word;
            font-weight: 500;
            margin-bottom: 20.750px;

        }

        .summary {
            margin-bottom: 0 !important;
            float: none !important;
            width: 100% !important;

            .woocommerce-product-details__short-description{
                display: none;
            }

            h1{
                display: none;
            }
    
            .price{
                display: none;
            }

            .product_meta{
                display: none;
            }

            .quantity{
                float: none !important;
                margin-bottom: 20px !important;
            }

            input.input-text{
                height: 40px;
                padding: 1px 14px 1px 14px !important;
                width: 76px !important;
            }

            .wcsatt-options-prompt-radios{
                padding-left: 0 !important;
                li{
                    input[type="radio"]{
                        display: none;
                    }

                    &:last-child{
                        display: none;
                    }
                }
            }
        }
    }

    &__price{
        font-size: 17px;
        color: rgba(89,87,88);
        font-weight: 500;
        margin-bottom: 18px;
    }

    &__sku{
        font-size: 12px;
        color: rgba(89,87,88);
        margin-bottom: 28px;
        padding-top: 12px;
    }

    &__quantity{
        margin-bottom: 8px;
        font-size: 14px;
        color: rgba(34,31,32);
        display: inline-block;

       
    }

    &__modal-content{
        height: 100%;
    }

    &__more-details{
        font-size: 14px;
        color: rgba(34,31,32);
        text-decoration: underline;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    &__button{
        padding-top: 52px;
    }

    
  }

