.quick-links {
    padding: 40px 20px 80px;

    @media (max-width: $bp_desktopSmall) {
       padding: 30px 20px;
    }

    @media (max-width: $bp_tabletLandscape) {
        padding: 70px 20px 30px;
    }

    &__container {
        max-width: 1820px;
        margin: 0 auto;
    }

        &__title {
            text-align: center;
            color: getColor(2);
            font-size: 35px;
            font-weight: 400;
            margin-bottom: 42px;

            @media (max-width: $bp_tabletLandscape) {
                font-size: 28px;
            }
        }

        &__list {
            display: flex;
            margin: 0 -14px;

            @media (max-width: $bp_tabletLandscape) {
                margin: 0;
                flex-wrap: wrap;
            }

            @media (max-width: $bp_mobileLandscape) {
                margin: 0;
            }
        }

            &__item {
                width: calc(100% / 6);
                padding: 14px;

                @media (max-width: $bp_tabletLandscape) {
                    width: calc(100% / 3);
                }

                @media (max-width: $bp_mobileLandscape) {
                    width: 50%;
                }

                @media (max-width: $bp_mobileMedium) {
                    width: 100%;
                }

                a {
                    display: block;
                    border: 2px solid getColor(3);
                    border-radius: 15px;
                    padding: 13px;
                    text-align: center;
                    text-decoration: none;
                    height: 100%;
                    transition: background-color .3s ease, border-color .3s ease;

                    @media (min-width: 1025px) and (max-width: $bp_desktopSmall) {
                        padding: 8px;  
                    }

                    &:hover {
                        background-color: getColor(2);
                        border-color: getColor(2);
                    }
                }

                    &__title {
                       font-size: 25px;
                       font-weight: 600;
                       line-height: 30px; 
                       color: getColor(2);
                       transition: color .3s ease;

                        @media (max-width: $bp_desktopMedium) {
                            font-size: 20px;
                            line-height: 25px;
                        }

                        @media (min-width: 1025px) and (max-width: $bp_desktopSmall) {
                            font-size: 14px;
                            line-height: 17px; 
                        }
                    }

                    a:hover h3 {
                        color: #fff;
                    }

                    &__content {
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 30px;

                        @media (max-width: $bp_desktopMedium) {
                            font-size: 16px;
                            line-height: 22px;
                        }

                        @media (min-width: 1025px) and (max-width: $bp_desktopSmall) {
                            font-size: 12px;
                            line-height: 19px;
                        }

                        &, & * {
                           transition: color .3s ease;
                        }
                        
                    }

                    a:hover .quick-links__item__content,
                    a:hover .quick-links__item__content * {
                        color: #fff;
                    }
            }
}