.supplement-facts{
    padding: 50px 0;

    &.secondary{
        background-color: rgb(243, 243, 243);
    }

    &__container{
        max-width: 850px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        padding: 0 20px;
    }

    &__content{
        max-width: 50%;
        width: 100%;
        
        h2{
            font-size: 40px;
            line-height: 56px;
            color: #4275ae;
            font-weight: 500;
            margin-bottom: 10px;
        }

        p{
            font-size: 15px;
            line-height: 21px;
            color: #221f20;
            font-weight: 500;
        }
    }

    &__image{
        padding-top: 18px;
        max-width: 50%;
        padding-left: 28px;
        width: 100%;

        p{
            font-size: 15px;
            line-height: 21px;
            color: #221f20;
            font-weight: 500;
            margin-bottom: 18px;
        }
    }

    @media screen and (max-width: 768px){
        padding: 40px 0;

        &__container{
            flex-direction: column;
        }

        &__content{
            margin-bottom: 30px;
            max-width: 100%;
            h2{
                font-size: 28px;
                line-height: 39px;
            }
        }

        &__image{
            padding-left: 0;
            max-width: 100%;
            
        }
    }
}