.text-banner-slider {
    padding: 70px 20px 48px;

    &__container {
        max-width: 1600px;
        margin: 0 auto;
    }

        &__title {
            text-align: center;
            color: #fff;
            border-bottom: 1px solid #FFFFFF;
            padding-bottom: 50px;
        }

        &__slide-wrapper {
            padding-top: 40px;
        }

            &__slider {

            }

                &__prev,
                &__next {
                    position: absolute;
                    top: calc(50% - 50px);
                    transform: translateY(-50%);
                    z-index: 5;
                }

                &__prev {
                    left: 0;
                }

                &__next {
                    right: 0;
                }

                .slick-dots {
                    position: relative;
                    bottom: unset;
                    padding-top: 60px;

                    li {
                        width: 18px;
                        height: 18px;
                        border: 1px solid #fff;
                        border-radius: 50%;
                        cursor: pointer;
                        margin: 0 23px 0 0;
                        transition: background-color .3s ease, border-color .3s ease;

                        &:last-child {
                            margin-right: 0;
                        }

                        button {
                            display: none;
                        }

                        &.slick-active {
                            background-color: #fff;
                        }
                    }
                }

                .slick-slide {
                    display: block;
                }

                    &__slide {
                        text-align: center;
                        color: #fff;
                    }

                        &__slide-title {
                            font-size: 35px;
                            line-height: 1;
                            margin-bottom: 32px;
                        }

                        &__content {

                            &, * {
                                color: inherit;
                                font-size: 25px;
                                line-height: 30px;
                            }
                        }
}