.wysiwyg{
    padding: 66px 0 62px;
    background-color: #F2F2F2;

    &__container{
        max-width: calc(100% - 100px);
        width: 100%;
        padding: 0 20px;
        margin: 0 auto;
    }

    &__content{
        h2{
            font-size: 28px;
            line-height: 39px;
            color: #4275ae;
            margin-bottom: 38px;
        }

        p{
            font-size: 17px;
            line-height: 24px;
            color: #221f20;
            margin-bottom: 33px;

            &:last-child{
                margin-bottom: 0;
            }

            strong{
                font-weight: bold;
            }
        }

        ul , ol{
            margin-left: 0;
            padding-left: 0;
           li{
            font-size: 17px;
            line-height: 24px;
            color: #221f20;
            margin-bottom: 30px;

            strong{
                font-weight: bold;
            }
           } 
        }

        ol{
            li{
                &::marker{
                    font-weight: bold;
                }
            }
        }
    }

    @media screen and (max-width: 1366px){
        padding: 66px 0 62px;

        &__container{
            max-width: 100%;
        }

        &__content{
            h2{
                font-size: 28px;
                line-height: 39px;
            }

            p{
                font-size: 17px;
                line-height: 24px;
            }

            ul,ol{
                li{
                    font-size: 17px;
                    line-height: 24px;
                }
            }
        }
       
    }
    
    @media screen and (max-width: 768px){
        padding: 40px 0;

        &__content{
            h2{
                font-size: 21px;
                line-height: 29px;
            }

            p{
                font-size: 15px;
                line-height: 21px;
            }

            ul , ol{
                padding-left: 19px;
                li{
                    font-size: 15px;
                    line-height: 21px;
                }
            }
        }
    }
}


.wysiwyg-inner-page{
    padding: 64px 0 54px;

    &.v2{
        background-color: rgb(226 227 228 / 40%);

        .wysiwyg-inner-page{
            &__content{

                h3{
                    font-size: 30px;
                    line-height: 42px;
                    color: #4275ae;
                    margin-bottom: 28px;
                }

                h5{
                    font-size: 20px;
                    line-height: 29px;
                    color: #221f20;
                    font-weight: 600;
                    
                }

                p{
                    font-size: 17px;
                    line-height: 24px;
                    color: #221f20;
                    font-weight: 500;

                    strong{
                        font-weight: bold;
                    }

                    &.small-text{
                        font-size: 14px;
                        line-height: 20px;
                        margin-bottom: 0;
                        font-weight: 500;
                    }
                }

                ul,ol{
                    li{
                        font-size: 17px;
                        line-height: 24px;
                        color: #221f20;
                        margin-bottom: 0;
                        font-weight: 500;
                        padding-left: 25px;
                        text-indent: -25px;

                        &.small-text{
                            font-size: 14px;
                            line-height: 20px;
                            margin-bottom: 0;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }

    &__container{
        max-width: 940px;
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
    }

    &__content{
        .row{
            display: flex;
        }

        .column{
            max-width: 50%;
            width: 100%;
        }

        h1{
            font-size: 40px;
            line-height: 56px;
            color: #4275ae;
            margin-bottom: 40px;
        }
        
        h2{
            font-size: 40px;
            line-height: 56px;
            font-weight: 500;
            color: #4275ae;
            margin-bottom: 31px;
        }

        h3{
            font-size: 30px;
            line-height: 42px;
            color: #4275ae;
            margin-bottom: 28px;
        }

        h5{
            font-size: 20px;
            line-height: 33px;
            color: #4275ae;
            margin-bottom: 11px;
        }

        h6{
            font-size: 17px;
            line-height: 1.7em;
            strong{
                font-weight: bold;
            }
        }

        strong{
            font-weight: bold;
        }

        p{
            margin-bottom: 23px;
            font-size: 17px;
            line-height: 24px;
            color: #221f20;

            &.small-text{
                font-size: 14px;
                line-height: 20px;
            }

            strong{
                font-weight: bold;
            }
        }

        ul , ol{
            &.small-text{
                li{
                    font-size: 17px;
                    line-height: 24px;
                }
            }
            li{
                margin-bottom: 24px;
                font-size: 20px;
                line-height: 28px;
                color: #221f20;
                padding-left: 25px;
                text-indent: -25px;

                strong{
                    font-weight: bold;
                }
            }
        }
    }

    @media screen and (max-width: 768px){
        padding: 40px 0;

        &.v2{
            .wysiwyg-inner-page{
                padding: 50px 0;
                &__content{
                    h3{
                        font-size: 25px;
                        line-height: 35px;
                    }

                    p{
                        font-size: 16px;
                        line-height: 22px;
                    }

                    ul{
                        li{
                            font-size: 16px;
                            line-height: 22px;
                        }
                    }
                }
            }    
        }

        &__content{
            h1{
                font-size: 30px;
                line-height: 42px;
            }

            h2{
                font-size: 28px;
                line-height: 39px;
                margin-bottom: 20px;
            }

            h3{
                font-size: 24px;
                line-height: 34px;
                color: #4275ae;
                margin-bottom: 18px;
            }

            .row{
                display: flex;
                flex-wrap: wrap;
            }
    
            .column{
                max-width: 100%;
                width: 100%;
                margin-bottom: 20px;

                &:last-child{
                    margin-bottom: 0;
                }
            }
            

            p{
                font-size: 19px;
                line-height: 27px;
            }

            ul , ol{
                li{
                    font-size: 19px;
                    line-height: 27px;
                }
            }
        }
    }
}

#home-wysiwyg {
    padding: 0 0 72px;
    background-color: #fff !important;

    .wysiwyg__content {
        max-width: 1820px;
        border-top: 1px solid #E5E5E5;
        margin: 0 auto;
        padding: 68px 14% 0;

        h2 {
            font-size: 50px;
            line-height: 65px;
        }

        p {
            font-size: 25px;
            line-height: 40px;
            margin-bottom: 50px;
        }

        *:last-child {
            margin-bottom: 0;
        }
    }
}

.home-wysiwyg-2 {
    padding: 100px 0;

    .wysiwyg__content {
        max-width: 1344px;
        margin: 0 auto;

        * {
            color: #fff;
        }
        
        p {
            font-size: 35px;
            line-height: 55px;
            font-weight: 500;
        }
    }
}